<!DOCTYPE html>
<html>

<head>
    <title>Сайт</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>

<body>
    <div class="login-page">
        <div class="form">
            <form class="login-form" action="test" method="post">
                <input name="first_name" type="text" placeholder="Ім'я" />
                <input name="last_name" type="text" placeholder="Прізвище" />
                <p><b>Виберіть дату народження:</b> <input name="date" type="date"></p>
                <input type="submit" class="button" value="Надіслати">
                <input type="submit" class="button" value="Сбросити">
            </form>
        </div>
    </div>
</body>

</html>